@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
html {
    height: 100%; /* Высота веб-страницы */
    width: 100%;
    background: #000 url(light_2.gif) round;
    color: azure;
}
body
{
    font-family: 'Playfair Display SC', serif;
}

.fun
{
    display: flex;
}
form
{
    text-align: center;
    flex-direction: row;
}